* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(245, 240, 246);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%
}

/* HEADER */
#header {
    background-image: url(../Imagenes/Woolen\ and\ cotton\ bright\ yarn\ stock\ photo\ containing\ knitting\ and\ crocheting.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: auto;
    opacity: 80%;

    .logo {
        display: flex;
        justify-content: center;

        img {
            height: 100%;
            max-height: 200px;
            border-radius: 100px;
            opacity: 95%;
            margin: auto;
        }
    }

    .float-container {
        display: flex;
    }

    .float-child {
        width: 100%;
        text-align: end;

        h1 {
            color: rgb(143, 104, 146);
            margin-left: 5%;
            text-align: start;
        }
    }

    .menu {
        ul li {
            display: inline;
            margin: 5px;
            text-align: center;
            color: rgb(143, 104, 146);

            :hover {
                background-color: rgb(192, 158, 225);
            }
        }
    }

    .buscar {
        display: flex;
        padding: 15px;
        justify-content: center;

        input {
            text-align: center;
        }
    }
}

/* FIN DE HEADER */

/* BOTON DE COMPRAS */
.button {
    display: flex;
    height: 100%;
    margin: 10px;
    justify-content: end;

    img {
        height: 20px;
    }
}

/* BOTON DE COMPRAS */

/*ACA EMPIEZA LA PAGINA INDEX */
#inicio {
    background-color: rgb(245, 225, 236);
    width: 95%;
    margin: auto;
    display: grid;
    grid-column: 1fr 1fr 1fr;
    border-radius: 25px;
    align-items: center;

    .fotos {
        align-items: center;
        height: 100%;
        width: auto;
        margin: auto;
        padding: 5px;

        img {
            display: inline;
            width: 100%;
            max-width: 400px;
            padding: 20px;
            border-radius: 50px;
            opacity: 80%;
            justify-content: center;
            animation-duration: 4s;
            animation-name: aparecer;
            animation-iteration-count: 1;

            @keyframes aparecer {
                0% {
                    opacity: 0;
                }

                100% {
                    opacity: 3;
                }

            }
        }
    }

    .info {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgb(129, 121, 129);
        width: auto;
        height: 100%;
    }

    .info1 {
        text-align: center;
        padding: 20px;
        height: auto;
        width: 100%;

        h2 {
            text-decoration: underline;
            height: auto;
            width: 100%;
            margin: 10px;
        }
    }

    .info2 {
        text-align: center;
        margin: 10px;
        height: auto;
        width: 100%;

        h2 {
            margin: 10px;
            text-decoration: underline;
            height: auto;
        }

        li {
            height: auto;
            width: auto;
        }
    }

    .info3 {
        text-align: center;
        margin: 10px;
        height: auto;
        width: 100%;

        h2 {
            margin: 10px;
            text-decoration: underline;
            height: auto;
            width: 100%;
        }

        p {
            margin: 10px;
            height: auto;
            width: 100%;
        }
    }
}

/*ACA TERMINA LA PAGINA INDEX */

/*ACA EMPIEZA LA PAGINA PRODUCTOS */
#contenido {
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(245, 225, 236);
    width: 75%;
    height: auto;
    margin: auto;
    justify-content: center;
    border-radius: 25px;

    .producto {
        border: double lightgrey 5px;
        margin: auto;
        margin-bottom: 10px;

        img {
            width: 200px;
            height: 300px;
            margin: 50px;
            border: ridge gray 5px;

            &:hover {
                transform: scale(1.5);
            }
        }

        p {
            width: 300px;
            text-align: center;
            justify-content: center;
        }

        h2 {
            width: 300px;
            text-align: center;
            justify-content: center;
            color: grey;
            text-decoration: underline;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        }

        button {
            width: 150px;
            margin-left: 85px;
            color: black;
            background-color: lightgray;

            &:hover {
                color: violet;
            }
        }
    }
}

/*ACA TERMINA LA PAGINA PRODUCTOS */

/* ACA EMPIEZA PAGINA PREGUNTAS FRECUENTES*/
.preguntasfrecuentes {
    display: flex;
    align-items: center;

    .container-preguntas {
        display: flex;
        flex-direction: column;
        text-align: justify;

        h2 {
            text-decoration: underline;
        }
    }

    .preguntas {
        width: 80%;
        color: rgb(129, 121, 129);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding: 10px;
        border: solid 5px lightgray;
        border-radius: 20px;
        margin: 20px;
        &:hover {
            color: black;
            background-color: rgb(235, 232, 232);
            border: none;
        }
        h2 {
            text-align: center;
        }
    }

    .imagen {
        width: 60%;

        img {
            max-width: 250px;
            border-radius: 5%;
        }
    }
}
.preguntasfrecuentes2 {
    display: flex;
    align-items: center;

    .container-preguntas2 {
        display: flex;
        flex-direction: column;
        text-align: justify;

        h2 {
            text-decoration: underline;
        }
    }
  .preguntas{
  width: 80%;
  color: rgb(129, 121, 129);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 10px;
  border: solid 5px lightgray;
  border-radius: 20px;
  margin: 20px;
  &:hover {
      color: black;
      background-color: rgb(235, 232, 232);
      border: none;
  }
  h2 {
      text-align: center;
  }
  }

    }
    
        
    

    .imagen {
        width: 60%;

        img {
            max-width: 250px;
            border-radius: 5%;
        }
    }


/* ACA TERMINA PAGINA PREGUNTAS FRECUENTES*/

.empre-img {
    width: 100%;
    justify-content: center;
    text-align: center;

    img {
        max-width: 450px;
        text-align: center;
        padding: 10px;
        border-radius: 30px;


    }
}

/* ACA TERMINA PAGINA PREGUNTAS FRECUENTES*/

/*ACA EMPIEZA EL FOOTER */
#footer {
    display: flex;
    flex-flow: row wrap;
    background-image: url(../Imagenes/Top\ view\ of\ colored\ yarn\ balls\ in\ a\ featuring\ balls\,\ white\,\ and\ nobody.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 90%;
    border-radius: 10px;

    .logofooter {
        display: flex;

        img {
            border-radius: 150px;
            opacity: 80%;
        }
    }

    .descripcion {
        display: flex;
        flex-flow: column;

        h3 {
            max-width: 300px;
            padding: 10px;
            margin: 10px;
            color: gray;
            font-size: large;
            margin-left: 5%;
        }

        form {
            max-width: 200px;
            padding: 10px;
            margin-left: 5%;
            border: solid lightgray 5px;
        }
    }

    .redes {
        display: flex;

        h4 {
            padding: 10px;
            margin-top: 2%;
        }

        img {
            max-width: 50px;
            border-radius: 40px;
        }
    }
}

/*ACA TERMINA EL FOOTER */

/*MEDIA QUERY */
@media (max-width: 576px) {

    /*PAGINA PREGUNTAS */
    .preguntasfrecuentes {
        display: flex;
        flex-flow: column;

    }

    .imagen {
        text-align: center;
        width: 100%;
        text-align: center;
    }

    .preguntasfrecuentes2 {
        display: flex;
        flex-flow: column;

    }

    .imagen2 {
        text-align: center;
        width: 100%;

    }

    .empre-img {
        width: 100%;
        justify-content: center;
        text-align: center;

        img {
            max-width: 300px;
            text-align: center;
            border-radius: 30px;
            padding: 15px;
            margin: 10px;
            background-color: rgb(245, 225, 236);
        }
    }

    /*PAGINA PREGUNTAS */
    /*HEADER */
    .float-container {
        display: flex;
        flex-direction: column;

    }

    .float-child {
        width: 100%;
        text-align-last: center;

        h1 {
            text-decoration: underline;
            text-align: center;
        }
    }

    .menu {
        text-align: center;
    }

    /*HEADER */
    /*FOOTER*/
    #footer {
        display: inline-block;
        text-align: center;


        .logofooter {
            align-items: center;
            margin: auto;

            img {
                width: 200px;
            }


        }

        .descripcion {
            width: 100%;
            align-items: center;

            h3 {
                text-align: center;
                width: 100%;
            }
        }

        .redes {
            width: 100%;
            text-align: center;
            padding: 5%;
            justify-content: center;
        }
    }

    /*FOOTER*/
    /*PAGINA PRODUCTOS*/
    #contenido {
        width: 100%;

        .fotos img {
            display: grid;
            grid-column: 1fr;
        }

        .fotos img {
            width: 300px;
        }

        .info {
            grid-template-columns: 1fr;
        }

        .info2 li {
            width: 100%;
        }
    }

    #inicio {
        .fotos img {
            display: grid;
            grid-column: 1fr;
            width: 250px;
        }

        .info {
            grid-template-columns: 1fr;

            li {
                width: 100%;
            }
        }
    }

}

/*PAGINA PRODUCTOS*/

@media screen and (max-width:768px) {


    /*FOOTER*/
    #footer {
        flex-flow: row;
        width: 100%;

        .logofooter {
            max-width: 50%;

            img {
                width: 200px;


            }
        }

        .descripcion {
            width: 100%;
            align-items: center;
        }

        .redes {
            width: 100%;
            text-align: center;
            padding: 5%;
            justify-content: center;
        }


    }

}

/*FOOTER*/

@media screen and (min-width:1024px) {

    /*FOOTER*/
    #footer {
        flex-flow: row;
        width: 100%;

        .logofooter {
            max-width: 100%;
            justify-content: center;

            img {
                max-width: 100%;

            }
        }

        .descripcion {
            width: 100%;
            align-items: center;
        }

        .redes {
            text-align: center;
            padding: 10px;
            justify-content: center;
            margin-top: auto;
        }
    }
}

/*FOOTER*/